


.meetingedit111{

}

.meetingedit112{

}

.meetingedit112 h6{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}



.meetingedit113{
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.meetingedit114{
    width: 585px;
    height: 56px;
    box-shadow: 0px 0px 4px 0px #00000040;
    background: #FFFFFF;
    display: flex;
    border-radius: 0px 10px 0px 10px;
    cursor: pointer;
}


.meetingedit115{
    width: 168px;
    height: 56px;
    background-color: #146C94;
    border-radius: 0px 0px 0px 10px;
    box-shadow: 0px 0px 4px 0px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.82px;
    color: #FFFFFF;
    margin: 0;
}


.meetingedit116{
    width: 168px;
    height: 56px;
    /* box-shadow: 0px 0px 4px 0px #00000040; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.82px;
    color: #000000;
    margin: 0;
}



.meetingedit117{
    display: flex;
    align-items: center;
    gap: 20px;
}


.meetingedit118{
    display: flex;
    align-items: center;
    gap: 10px;
}


.meetingedit118 label{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.1px;
    color: #000000;
    margin: 0;
}




.meetingedit119{
    display: flex;
}


.meetingedit120{
    width: 265px;
    height: 964px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #00000040;
    padding: 20px;
}


.meetingedit121{

}

.meetingedit121 h6{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.82px;
    color: #000000;
    margin: 0;
}



.meetingedit122{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 20px;
    height: 864px;
    overflow: auto;
    gap: 10px;
}

.meetingedit122 img{
    width: 50%;
}



.meetingedit123{

}

.meetingedit124{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.meetingedit124 label{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.1px;
    color: #000000;
    margin: 0;
}

.meetingedit124 input{
    width: 642px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    outline: none;
    padding-left: 10px;
}


.meetingedit125{
    width: 642px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    outline: none;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.meetingedit126{
    width: 91px;
    height: 35px;
    border-radius: 2px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.meetingedit126 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16.37px;
    color: #000000;
    margin: 0;
}


.meetingedit127 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.1px;
    color: #2155CD;
    margin: 0;
    cursor: pointer;
}


.meetingedit128{

}

.meetingedit128 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.1px;
    color: #2155CD;
    margin: 0;
    cursor: pointer;
    text-decoration: underline;
}



.meetingedit131{

}

.meetingedit131 label{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.1px;
    color: #000000;
    margin: 0;
    cursor: pointer;
}


.meetingedit132{
    display: flex;
    align-items: center;
    gap: 20px;
}

.meetingedit132 input{
    width: 169px; 
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    outline: none;
}


.meetingedit132 select{
    width: 124px; 
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    outline: none;
}


.meetingedit133{
    width: 69px; 
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.meetingedit133 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.1px;
    color: #000000;
    margin: 0;
    cursor: pointer;
}


.meetingedit134{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.meetingedit135{

}


.meetingedit135 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.1px;
    color: #2155CD;
    margin: 0;
    cursor: pointer;
    text-decoration: underline;
}


.meetingedit137{
    display: flex;
    flex-direction: column;
}


.meetingedit137 label{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.1px;
    color: #000000;
    margin: 0;
    cursor: pointer;
}


.meetingedit137 textarea{
    width: 642px; 
    height: 167px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    outline: none;
}


.meetingedit138{
    display: flex;
}


.meetingedit138 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.1px;
    color: #2155CD;
    margin: 0;
    cursor: pointer;
}



.meetingedit139{
    width: 642px; 
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    outline: none;
    padding-left: 10px;
    display: flex;
    align-items: center;
}


.meetingedit140{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 173;
    background: #D9D9D9DD;
    height: 40px;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.meetingedit140 img{
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.meetingedit140 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.1px;
    color: #3F3F3F;
    margin: 0;
}


.meetingedit141{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.meetingedit141 button:nth-child(1){
    width: auto;
    height: auto;
    padding: 12px 80px 12px 80px;
    background-color: #2155CD;
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.82px;
    color: #FFFFFF;
    margin: 0;
}

.meetingedit141 button:nth-child(2){
    width: auto;
    height: auto;
    padding: 12px 80px 12px 80px;
    background-color: transparent;
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.82px;
    color: #444444;
    margin: 0;
}