.workreport{
    height: 100%; 
    background-color: #f0f0f0;
    padding: 30px;
    padding-bottom: 60px;
}


.workreport1{

}



.workreport3{
    width: 100%;
    height: 64px;
    border-radius: 8px;
    background-color: #D9D9D9F8;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}


.workreport4{
    display: flex;
    align-items: center;
    gap: 20px;
}


.workreport4 h6{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32.74px;
    color: #000000;
    margin: 0;
}



.workreport5{
    display: flex;
    align-items: center;
    gap: 10px;
}

.workreport5 label{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.82px;
    color: #000000;
    margin: 0;
}


.workreport6{
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #D9D9D9F8;
    margin-top: 30px;
    padding: 20px;
}

.workreport7{
    width: 97%;
    margin: auto;
}

.workreport8{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 20px;
}

.workreport9{
    /* text-align: center; */
    cursor: pointer;
}

.workreport9 h6{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 32.74px;
    color: #000000;
    margin: 0;
}


.workreport9 h6:hover{
    color: #40AF0C;
}

.workreport9 p:hover{
    color: #40AF0C;
}



.workreport9 p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.82px;
    color: #000000;
    margin: 0;
}



.workreport10{
    margin-bottom: 50px;
}